@model PracticeProject.my_table
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
@using (Html.BeginForm())
{
    <table style="border:solid">
        <tr>
            <td>@Html.DisplayNameFor(model => model.id)</td>
            <td>&nbsp;</td>
            <td>@Html.DisplayFor(model => model.id)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.name)</td>
            <td>&nbsp;</td>
            <td>@Html.DisplayFor(model => model.name)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.address)</td>
            <td>&nbsp;</td>
            <td>@Html.DisplayFor(model => model.address)</td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=Model.id})
            </td>
            <td>&nbsp;</td>
            <td>
                @Html.ActionLink("Back To List", "Index")
            </td>
        </tr>
    </table>


}